<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!--FONTS-->
		<link
			href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap"
			rel="stylesheet"
		/>
		<!--FontAwesome-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

		<!--FAVICON-->
		<link rel="icon" href="../images/favicon.ico" />

		<!--BOOTSTRAP-->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
    ></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/portfolio.js"></script>

		<!--CSS-->
		<link rel="stylesheet" href="../css/projects.css" />
		<title>Projects</title>
	</head>
	<body>
		<a id="button"></a>

		<!--TOP SECTION-->
		<section id="top-container">
			<!--NAVBAR-->
			<div class="navContainer">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="#">
						<img src="../images/me_top.png" alt="avatar-img" class="navBrand"
					/></a>
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navb"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navb">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="../index.html">About</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#">Projects</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Notes</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

    <div>
      <h1>My Projects</h1>
    </div>
      
      <div class="respon">
        <img src="../images/pc.png" alt="pc-image" class="pcimg"/>
      </div>
    </section>

    <section id="middle-container">

      <div class="row">
        <div class="col-sm-12">
            <div class="card card-flip h-100">
                <div class="card-front text-white tm">
                    <div class="card-body">
                        <h1 class="card-title">Tutor Me</h1>
                        <p class="card-text">Connects you with the right person for the job</p>
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <div>
                            <h3 class="card-title">Tutor Me</h3>
                            <p class="card-text">A basic web application that allows you to find the person with the skillset that you need.</p>
                        </div>
                        <a href="https://github.com/Tj-bis/tutorMe" class="btn btn-outline-secondary" target="_blank">View Code</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-flip h-100">
                <div class="card-front text-white budgetapp">
                    <div class="card-body">
                        <h1 class="card-title">Budget App</h1>
                        <p class="card-text">Budget Management Application</p>
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">Budget App</h3>
                        <p class="card-text">An app that tracks all your income and expenses. Really helpful in managing budget in the day to day life.</p>
                        <a href="https://github.com/Tj-bis/budgetapp" class="btn btn-outline-secondary" target="_blank">View Code</a>
                        <a href="https://tj-bis.github.io/budgetapp/" class="btn btn-outline-secondary" target="_blank">Try it out</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-flip h-100">
                <div class="card-front text-white mh">
                    <div class="card-body">
                        <h1 class="card-title">Monster Hunter</h1>
                        <p class="card-text">A personal mini-game project</p>
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">Monster Hunter</h3>
                        <p class="card-text">Slay the monster and save the princess...or prince</p>
                        <a href="https://github.com/Tj-bis/monsterHunterGame" class="btn btn-outline-secondary" target="_blank">View Code</a>
                        <a href="https://tj-bis.github.io/monsterHunterGame/" class="btn btn-outline-secondary" target="_blank">Try it out</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-flip h-100">
                <div class="card-front text-white poker">
                    <div class="card-body">
                        <h1 class="card-title">The Dice Poker</h1>
                        <p class="card-text">Inspired by the Witcher games, the name says it all</p>
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">The Dice Poker</h3>
                        <p class="card-text">Play poker (sort of) vs the other player. The first one to reach 100 wins.</p>
                        <a href="https://github.com/Tj-bis/diceP" class="btn btn-outline-secondary" target="_blank">View Code</a>
                        <a href="https://tj-bis.github.io/diceP/" class="btn btn-outline-secondary" target="_blank">Try it out</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-flip h-100">
                <div class="card-front text-white td">
                    <div class="card-body">
                        <h1 class="card-title">Tin Dog</h1>
                        <p class="card-text">Just like Tinder, but for Dogs</p>
                    </div>
                </div>
                <div class="card-back bg-white">
                    <div class="card-body">
                        <h3 class="card-title">TinDog</h3>
                        <p class="card-text">TinDog is a personal Bootstrap Project made while studying an online course for Bootstrap 4</p>
                        <a href="https://github.com/Tj-bis/td" class="btn btn-outline-secondary" target="_blank">View Code</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
      </div>

      <div class="contact-me">
        <h2>Interested?</h2>
        <h3>Currently available for Freelance work or Full-Time job offers</h3>
        <p>Whether you need a new project started, update an already existing one, think you need my help or just want to say hey, then get in touch.</p>
        <a class="conbtn" href="mailto:jane.trajkoski@gmail.com">CONTACT ME</a>
      </div>

    </section>
    

    <!--BOTTOM SECTION-->
    
    <section id="bottom-container">
      <div class="social">
      <a href="https://www.linkedin.com/in/t-jane/" ><img src="../images/linkedin.png" class="linked"></img></a>
      <a href="https://github.com/Tj-bis"><img src="../images/github.png" class="git"></img></a>
      <a class="footer-link" href="mailto:jane.trajkoski@gmail.com">Hire Me</a>
    </div>
      <p class="copyright">© 2020 Jane Trajkoski.</p>
    </section>

	</body>
</html>
